Collaborators:
 <ul>
   <% @wiki.collaborators.each do |collaborator| %>
   <li>
     <%= User.find_by_id(collaborator.user_id).email %>
     <% if policy(@wiki).destroy? %>
       <%= link_to "Delete User", [@wiki, collaborator], class: 'btn btn-danger delete', method: :delete, data: {confirm: 'Are you sure you want to delete this collaborator?'} %>
     <% end %>
   </li>
   <% end %>

 </ul>
