<h4>Are you sure you want to cancel your subscription?</h4>
<p>It will cost another $15 to renew your previous subscription. </p>
<%= link_to "Cancel Subscription", downgrade_index_path, method: :create, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to downgrade?'} %>
